        h1, h2{
            background-color: rgb(163, 4, 4);
            color: white;
        }
        h3{
            background-color: beige;
            color: rgb(163, 4, 4);
        }
        ol, ul{
            background-color: rgb(248, 248, 237);
        }
        .newtable{
            background-color: rgb(0, 119, 255);
            color: azure;
        }
        #Birthdays{
            background-color: aqua;
        }
        table {
            background-color: purple;
        }
